{% extends "polls/base.html" %}
{% block content%}
<div class="row">
    <div class="col-sm-8">

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted"> Code: {{ subject_with_grade.subject.code }}</small>
                <small class="text-muted"> ects: {{ subject_with_grade.subject.ects }}</small>
            </div>
            <h2>{{ subject_with_grade.subject.title }}</h2>
            <p class="article-content" align="justify">{{ subject_with_grade.subject.description }}</p>
          </div>
        </article>

    </div>
    <div class="col-sm-4">
        <br>
        <br>
        <h3>Subject interest info</h3>
        <p><b>Total votes:</b> {{ subject_with_grade.amount}}</p>
        <p><b>Mark:</b> {{ subject_with_grade.mark}}</p>
        <p><b>Difficulty:</b> {{ subject_with_grade.difficulty}}</p>
    </div>
</div>

{% endblock content%}