{% extends "polls/base.html" %}
{% block content%}

<main role="main" class="container-fluid"></main>
<h1>This is the {{ title }} Page</h1>
<br />
    <div class="row">
        {% regroup subjects_by_course|dictsort:"course" by course as course_list %}
        <div class="col-sm-4">
            <div id="accordion">
             {% for course in course_list %}
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{ course.grouper }}">
                    {% if forloop.counter == 1 %}
                        <h3>Primer</h3>
                    {% elif forloop.counter == 2 %}
                        <h3>Segon</h3>
                    {% elif forloop.counter == 3 %}
                        <h3>Tercer</h3>
                    {% elif forloop.counter == 4 %}
                        <h3>Quart</h3>
                    {% elif forloop.counter == 5 %}
                        <h3>Cinquè</h3>
                    {% endif %}
                  </a>
                </div>
                <div id="collapse{{ course.grouper }}" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                      <ul>
                          {% for subject in course.list %}
                        <li><a href="{% url 'subject_info' subject.subject_id.code %}">{{ subject.subject_id }}</a></li>
                          {% endfor %}
                      </ul>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8">
            <div>
                <h4>This is the Best Subjects Qualifies</h4>
                {% for best in best_subjects %}
                    <article class="media content-section">
                      <div class="media-body">
                        <div class="article-metadata">
                          <a class="mr-2" href="#"> # {{ best.subject.code }}</a>
                          <small class="text-muted"> Mark: {{ best.mark }}</small>
                            <small class="text-muted"> Difficulty: {{ best.difficulty }}</small>
                        </div>
                        <h4><a class="article-title" href="#">{{ best.subject.title }}</a></h4>
                      </div>
                    </article>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock content%}
