{% extends "polls/base.html" %}
{% block content%}

<main role="main" class="container-fluid"></main>
<h1>This is the {{ title }} Page</h1>
<br />
    <div class="row">
        {% regroup subjects_by_course|dictsort:"course" by course as course_list %}
        <div class="col-sm-4">
            <div id="accordion">
             {% for course in course_list %}
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{ course.grouper }}">
                    {% if forloop.counter == 1 %}
                        <h3>Primer</h3>
                    {% elif forloop.counter == 2 %}
                        <h3>Segon</h3>
                    {% elif forloop.counter == 3 %}
                        <h3>Tercer</h3>
                    {% elif forloop.counter == 4 %}
                        <h3>Quart</h3>
                    {% elif forloop.counter == 5 %}
                        <h3>Cinquè</h3>
                    {% endif %}
                  </a>
                </div>
                <div id="collapse{{ course.grouper }}" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                      <ul>
                          {% for subject in course.list %}
                        <li><a href="#">{{ subject.subject_id }}</a></li>
                          {% endfor %}
                      </ul>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8">

        </div>
    </div>
{% endblock content%}
