
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <ul class="navbar-nav ml-auto">
          <a href="#" class="navbar-brand">
            App
          </a>
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'polls-degrees' %}">Home</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'polls-home' %}">Home</a></li>
             {% endif %}
          <li class="nav-item"><a class="nav-link" href="{% url 'subjects-ranking' %}">Subjects</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'teachers-ranking' %}">Teachers</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'polls-degrees' %}">Degrees</a></li>
        </ul>
        <div class="navbar-collapse">
          <ul class="navbar-nav ml-auto">
             {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
             {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign In</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
