
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <ul class="navbar-nav ml-auto">
          <a href="#" class="navbar-brand">
            App
          </a>
          <li class="nav-item"><a class="nav-link" href="{% url 'polls-home' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'subjects-ranking' %}">Subjects</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'teachers-ranking' %}">Teachers</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'polls-degrees' %}">Degrees</a></li>
        </ul>
        <div class="navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'polls' %}">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Sign In</a></li>
          </ul>
        </div>
      </div>
    </nav>