{% extends "polls/base.html" %}
{% load markdown_deux_tags %}
{% block content%}

<main role="main" class="container-fluid"></main>
    <div class="row">
        <div class="col-sm-8">
            <div class="web-name">
                <h1><b>Polls</b></h1>
            </div>
            <div style="text-align: justify" class="col-sm-12">
                {{ description.text|markdown }}
            </div>
        </div>

        <div class="col-sm-4">
            <br />

            <!--SHOW MESSAGES-->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tag }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <!--END SHOW MESSAGES-->

            <div class="shadow-sm card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
	                <h4 class="card-title mt-3 text-center">Create Account</h4>
                    <p class="divider-text">
                        <span class="bg-light"></span>
                    </p>
                    <form>
	                    <div class="form-group input-group">
		                    <div class="input-group-prepend">
		                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		                    </div>
                            <input name="" class="form-control" placeholder="Full name" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
    	                    <div class="input-group-prepend">
		                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		                    </div>
                            <input name="" class="form-control" placeholder="Email address" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
    	                    <div class="input-group-prepend">
		                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		                    </div>
                            <input class="form-control" placeholder="Create password" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
    	                    <div class="input-group-prepend">
		                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		                    </div>
                            <input class="form-control" placeholder="Repeat password" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                        </div> <!-- form-group// -->
                    </form>
                    <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a> </p>
                </article>
            </div>
            <br />
            <div class="shadow-sm card bg-light">
                <br />
                <div align="center">
                    <a href="{% url 'teachers-ranking' %}" class="btn btn-primary">
                        <h2>Teacher Ranking</h2>
                    </a>
                    <a href="{% url 'subjects-ranking' %}" class="btn btn-primary mt-3">
                        <h2>Subject Ranking</h2>
                    </a>
                </div>
                <br />
            </div>

            <br />
            <div class="shadow-sm card bg-light">
                <br />
                <div align="center">
                    <a href="{% url 'polls-degrees' %}" class="btn btn-primary">
                        <h2>Degrees</h2>
                    </a>
                </div>
                <br />
            </div>
        </div>
    </div>

{% endblock content %}
