{% extends "polls/base.html" %}
{% block content%}
<br>
<h1>This is the {{ title }} Page</h1>
<br>
 <div class="row">

    <div class="col-sm-6 text-center">
        <h4>This is the Best Subjects Qualifies</h4>

            {% for best in best_qualifies %}
                <article class="media content-section">
                  <div class="media-body border">
                    <div class="article-metadata">
                      <a class="mr-2" href="#"> # {{ best.subject.code }}</a>
                      <small class="text-muted"> Mark: {{ best.mark }}</small>
                        <small class="text-muted"> Difficulty: {{ best.difficulty }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ best.subject.title }}</a></h2>
                    <p class="article-content">{{ best.subject.description }}</p>
                  </div>
                </article>
                <br>
            {% endfor %}
     </div>

    <div class="col-sm-6 text-center">
        <h4>This is the Worst Subjects Qualifies</h4>
        {% for worst in worst_qualifies %}
            <article class="media content-section">
              <div class="media-body border">
                <div class="article-metadata">
                  <a class="mr-2" href="#"> # {{ worst.subject.code }}</a>
                  <small class="text-muted"> Mark: {{ worst.mark }}</small>
                    <small class="text-muted"> Difficulty: {{ worst.difficulty }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ worst.subject.title }}</a></h2>
                <p class="article-content">{{ worst.subject.description }}</p>
              </div>
            </article>
            <br>
        {% endfor %}
    </div>

</div>
<br><br>

{% endblock content%}